/* iPhone 11: screen width 414px */
@media(max-width: 414px){
    * { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
  }
  .image-box{
    display: flex;
    flex-flow: column;
  }

  .post-image-between{
    vertical-align: middle;
    height: 226px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .captions{
    margin-bottom:20px;
    text-align: center;
  }

  .inside-post-text{
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .previous-next-post{
    border-top: 0.5px solid rgb(237, 237, 240);
    border-bottom: 0.5px solid rgb(237, 237, 240);
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .previous-next-post a{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Noto serif', serif;
    color: #353535;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
  }
}

/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
  * { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
  }
  .image-box{
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .post-image-between{
    vertical-align: middle;
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .captions{
    margin-bottom:20px;
    text-align: center;
  }

  .inside-post-text{
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .previous-next-post{
    border-top: 0.5px solid rgb(237, 237, 240);
    border-bottom: 0.5px solid rgb(237, 237, 240);
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .previous-next-post a{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Noto serif', serif;
    color: #353535;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
  }
}

/* Large Screens*/
@media (min-width: 901px) {
  * { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
  }
  .image-box{
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .post-image-between{
    vertical-align: middle;
    height: 320px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .captions{
    margin-bottom:20px;
    text-align: center;
  }

  .inside-post-text{
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .previous-next-post{
    border-top: 0.5px solid rgb(237, 237, 240);
    border-bottom: 0.5px solid rgb(237, 237, 240);
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .previous-next-post a{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Noto serif', serif;
    color: #353535;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
  }
}