/* iPhone 11: screen width 414px */
@media(max-width: 414px){
    * { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
  }
  .post-image-between{
    height: 226px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .inside-post-text{
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .previous-next-post{
    border-top: 0.5px solid rgb(237, 237, 240);
    border-bottom: 0.5px solid rgb(237, 237, 240);
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .previous-next-post a{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Noto serif', serif;
    color: #353535;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
  }
}