@media(max-width: 414px){
    /*set to 0 extra space created by default*/
    * { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
    }

    .burger-menu-container{
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-image: url("../images/menu.png");
    }

    .search-icon{
    width: 16px;
    height: 16px;
    background-size: 16px;
    background-image: url("../images/search.png");
    }
}